.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}
/* @media screen and (max-width: 750px) {
  .logo{
    display: none;
  }
} */
.link {
  max-width: 1000px;
}